<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ferrousbg_AdminOrder::create" title="⚡ Flash Order" module="Ferrousbg_AdminOrder" parent="Magento_Sales::sales_order" action="adminorder/create/index" resource="Magento_Sales::create" sortOrder="10"/>
    </menu>
</config>